/.mixin.out
/authlib-injector.log
/BotaniaVars.dat
/crash-reports
/icon.png
/local
/logs
/options.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/saves
/schematics
/screenshots
/server-resource-packs
/servers.dat
/simple-rpc
/simple-rpc.bak
/texturepacks
/usercache.json
/usernamecache.json
/WailaErrorOutput.txt
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap